# dependencies
node_modules/

# Next.js
.next/
out/

# production
dist/
build/

# environment
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/