.admin-card-content::before {
  border-width: 3px;
  border-style: solid;
  border-image: none;
  border-radius: 50%;
  top: 55px;
  left: -40px;
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-color: var(--secondary);
}
.admin-card-content::after {
  border-width: 19px;
  border-style: solid;
  border-image: none;
  border-radius: 50%;
  top: 0;
  left: -130px;
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-color: var(--secondary);
}
